/*
    name: default
    required:
    optional: nav, sidebar, footer
    priority: nav, content, sidebar, footer
    about: Default theme, blue-grey and white. 2-column layout if sidebar element included. All elements are optional.
*/

nav {
    text-align: center;
    background-color: darkslategray;
    color: antiquewhite;
    width: 100vw;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: auto;
    display: block;
}

nav>p>a {
    padding: 20px;
    color: antiquewhite;
}